<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--Title is provided dynamically through handler-->
    <title th:text="${title}">Bootstrap demo</title>

	<!--Bootstrap css cdn link.-->
	
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
    		rel="stylesheet" 
    		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
    		crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    		crossorigin="anonymous" 
    		referrerpolicy="no-referrer" />

    
    <!--This is a custom css file added to the project.-->
    		
    <link rel="stylesheet" th:href="@{/css/UserStyle.css}" />
    
    
  </head>
  
  <body>
	  <!--This is a base html file which will provide the base structure for website html pages..-->
	
	
	<!--Navbar-->
	
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark backgroundColor">
		
		  <div class="container-fluid">
		
		    <a class="navbar-brand" href="#">Contact Manager</a>
		    
		    <button class="navbar-toggler" 
		    		type="button" 
		    		data-bs-toggle="collapse" 
		    		data-bs-target="#navbarSupportedContent" 
		    		aria-controls="navbarSupportedContent" 
		    		aria-expanded="false" 
		    		aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    
		    
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      
		      <ul class="navbar-nav ms-auto text-uppercase">
				
				  
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
		        </li>

		        
		        <li class="nav-item">
		          <a class="nav-link" href="#"><span th:text="${user.name}"></span></a>
		        </li>
		        
		        <li class="nav-item">
		          <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
		        </li>
		        
		      </ul>
	 	    </div>
		  </div>
	</nav>
	
	<!--End of navbar-->
	
	
	<!--Content that will be replaced dynamica lly through the concept of inheriting thymeleaf fragment.-->  
    
    
    <!--Sidebar for user-->
    <div class="sidebar mt-2">
	
		<span onclick="toggleSidebar();" class="crossBtn">&times;</span>
		
		<a href="#" th:href="@{/user/index}" class="item"><i class="fa-solid fa-house-user"></i></i>   Home</a>	
		<a href="#" th:href="@{/user/show-contacts/0}" class="item"><i class="fa-solid fa-address-book"></i>   View Contacts</a>
		<a href="#" th:href="@{/user/add-contact}" class="item"><i class="fa-solid fa-square-plus"></i>   Add Contact</a>
		<a href="#" th:href="@{/user/profile}" class="item"><i class="fa-solid fa-user" style="color: #ffffff;"></i>   Your Profile</a>
		<a href="#" class="item"><i class="fa-solid fa-gear"></i> Settings</a>
		<a href="#" th:href="@{/logout}" class="item"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
		<div class="divider"></div>
		
	</div>  
	
	<!--End of sidebar-->
	
	 <!--content inherited to the pages-->
	<div class="content mt-5">
		
		<i onclick="toggleSidebar();" class="fas fa-bars m-3"></i>

		
		<div th:replace="${content}">
			
		</div>
	</div>
	
	<!--Bootstrap js cdn link-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
    		crossorigin="anonymous"></script>
    
    
    		
    <!--Custom js file added to the project-->		
    <script th:src="@{/js/script.js}"></script>
    
  </body>
</html>