<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}">Insert title here</title>
</head>
<body>
	
	<!--This is a about html file in which this section will go to the base.html file as it is the parent html file.-->

	<section>
		<div class="col-md-10 offset-md-1">
			<div class="card mx-auto my-auto">
				<div class="card-body">
					<h1 class="text-center">
						Your Contacts
					</h1>
					
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th scope="col">ID</th>
					      <th scope="col">Name</th>
					      <th scope="col">Email</th>
					      <th scope="col">Phone</th>
					      <th scope="col">Action</th>
					    </tr>
					  </thead>
					  <tbody>
						  

								    <tr th:each="c:${contacts}">
										
								      <th scope="row" th:text="'SCM2020'+${c.c_id}">1</th>
								      
								      <td>
										  <img src="" class="my_profile_picture" th:src="@{'/img/'+${c.image_url}}" alt="profile photo" />
										  
										  <span th:text="${c.name}">
											  Names
										  </span>
									  </td>
								      
								      <td>
										  
										  
										  <a href="#" th:href="@{'/user/'+${c.c_id}+'/contact'}">
											  
											  <span th:text="${c.email}"></span>
											  
										  </a>
							
									  </td>
								      
								      <td th:text="${c.number}">@mdo</td>
								      
								      <td >
										  
										  <a th:href="@{'/user/delete/'+${c.c_id}}" class="btn btn-danger btn-sm">Delete</a>
										  
										  <form action="" th:action="@{'/user/update-contact/'+${c.c_id}}" class="mt-2" method="post">
											  
										  	<button type="submit" class="btn btn-primary btn-sm">Update</button>
											  
										  </form>
										  
										  
									  </td>
								    </tr>
					  </tbody>
					</table>
					
					<!--Pagination part-->
					
					<nav aria-label="Page navigation example">
						  <ul class="pagination">
						    
						    <li th:if="${currentPage != 0}" class="page-item">
						      <a th:href="@{'/user/show-contacts/'+${currentPage-1}}" class="page-link" href="#">Previous</a>
						    </li>
						    
						    <li th:classappend="${currentPage==i-1?'active':''}" class="page-item" th:each="i : ${#numbers.sequence(1,totalPages)}">
								<a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${i-1}}">
									<span th:text="${i}">
										
									</span>
								</a>
							</li>
						    
						    <li th:if="${currentPage+1 != totalPages}" class="page-item">
						      <a class="page-link" href="#">Next</a>
						    </li>
						  </ul>
					</nav>
					
					
				</div>
			</div>
		</div>
	</section>

</body>
</html>